name: flutter_tapjoy
description: Tapjoy plugin for both Android & iOS
version: 2.0.0
homepage: https://github.com/AnavrinApps/flutter_plugins

environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  collection: ^1.15.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.anavrinapps.flutter_tapjoy
        pluginClass: FlutterTapjoyPlugin
      ios:
        pluginClass: FlutterTapjoyPlugin

  