# Dart/Flutter
.dart_tool/
.packages
build/
pubspec.lock
*.iml

# Android
android/.gradle/
android/local.properties
example/android/local.properties

# iOS
ios/Flutter/ephemeral/
example/ios/Flutter/ephemeral/
example/ios/Pods/
example/.flutter-plugins
example/.flutter-plugins-dependencies

# Generated
**/GeneratedPluginRegistrant.*
